
<div id=":18x" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc3OTUwODgzMTY5MzkxMTk1M3xtc2ctZjoxNzc5NTA4ODMxNjkzOTExOTUzIixudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxbXV0.; 4:WyIjbXNnLWY6MTc3OTUwODgzMTY5MzkxMTk1MyIsbnVsbCxbXSxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxbXSxbXSxbXV0."><div id=":18w" class="a3s aiL msg-7107547167905449307"><u></u>

  <div class="m_-7107547167905449307main" style="margin:0;padding:0">

    <table class="m_-7107547167905449307wrapper" style="border-collapse:collapse;table-layout:fixed;min-width:320px;width:100%;background-color:#002554" cellpadding="0" cellspacing="0" role="presentation"><tbody><tr><td>
      <div role="banner">
        <div class="m_-7107547167905449307preheader" style="Margin:0 auto;max-width:560px;min-width:280px;width:280px;width:calc(28000% - 167440px)">
          <div style="border-collapse:collapse;display:table;width:100%">

            <div class="m_-7107547167905449307snippet" style="display:table-cell;Float:left;font-size:12px;line-height:19px;max-width:280px;min-width:140px;width:140px;width:calc(14000% - 78120px);padding:10px 0 5px 0;color:#999;font-family:Raleway,Trebuchet MS,Avenir,Segoe UI,sans-serif">

            </div>

            <div class="m_-7107547167905449307webversion" style="display:table-cell;Float:left;font-size:12px;line-height:19px;max-width:280px;min-width:139px;width:139px;width:calc(14100% - 78680px);padding:10px 0 5px 0;text-align:right;color:#999;font-family:Raleway,Trebuchet MS,Avenir,Segoe UI,sans-serif">

            </div>

          </div>
        </div>

      </div>
      <div>
      <div class="m_-7107547167905449307layout m_-7107547167905449307one-col m_-7107547167905449307fixed-width m_-7107547167905449307stack" style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
        <div class="m_-7107547167905449307layout__inner" style="border-collapse:collapse;display:table;width:100%;background-color:#bbe2f7">

          <div class="m_-7107547167905449307column" style="text-align:left;color:#000;font-size:16px;line-height:24px;font-family:Raleway,Trebuchet MS,Avenir,Segoe UI,sans-serif">

        <div style="font-size:12px;font-style:normal;font-weight:normal;line-height:19px" align="center">
          <img style="border:0;display:block;height:auto;width:100%;max-width:900px" alt="" width="600" src="https://ci5.googleusercontent.com/proxy/RV0svXP2qKfaqjIX26tn3IMk7EIlDZoqyS6zR_F5W3oPP4YKYSj1o5wQ7KREnrn2hbOgrpVxJJ91H2G_UBEFgzFUsaX6d32RQJQivfXqP7aV49q7MeGw0ORGOAgw08EuKBZ0gd4=s0-d-e1-ft#http://i1.cmail20.com/ei/t/A5/DE3/8DE/115020/csfinal/Heronew1-9900000000079e3c.png" class="CToWUd a6T" data-bit="iit" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 767px; top: 493px;"><div id=":1cr" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc3OTUwODgzMTY5MzkxMTk1MyIsbnVsbCxbXSxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxbXSxbXSxbXV0." data-tooltip-class="a1V" jsaction="JIbuQc:.CLIENT" data-tooltip="Download"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
        </div>

            <div style="Margin-left:20px;Margin-right:20px;Margin-top:20px">
      <div style="vertical-align:middle">
        <p class="m_-7107547167905449307size-24" style="Margin-top:0;Margin-bottom:0;font-family:Bitter,Georgia,serif;font-size:20px;line-height:28px;text-align:center" lang="x-size-24"><span style="text-decoration:inherit">We’re so excited to have you on board!</span></p><p class="m_-7107547167905449307size-16" style="Margin-top:20px;Margin-bottom:0;font-family:Raleway,&quot;Trebuchet MS&quot;,Avenir,&quot;Segoe UI&quot;,sans-serif;font-size:16px;line-height:24px;text-align:center" lang="x-size-16"><span style="text-decoration:inherit"><em>We are a safe, non-judgemental space for real mental-health stories.&nbsp;</em></span></p><p class="m_-7107547167905449307size-16" style="Margin-top:20px;Margin-bottom:20px;font-family:Raleway,&quot;Trebuchet MS&quot;,Avenir,&quot;Segoe UI&quot;,sans-serif;font-size:16px;line-height:24px;text-align:center" lang="x-size-16"><span style="text-decoration:inherit">Our purpose is to create a community that is inspired and strengthened by stories of tough times, resilience and hope.<br>
<br>
<em>Share your story today, we’re here to help you find your voice!</em></span></p>
      </div>
    </div>

            <div style="Margin-left:20px;Margin-right:20px">
      <div style="line-height:20px;font-size:1px">&nbsp;</div>
    </div>

        <div style="font-size:12px;font-style:normal;font-weight:normal;line-height:19px" align="center">
          <a style="text-decoration:underline;color:#000" href="https://batyr.cmail20.com/t/n/t-i-vsuiht-l-r-r-r/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://batyr.cmail20.com/t/n/t-i-vsuiht-l-r-r-r/&amp;source=gmail&amp;ust=1697158664837000&amp;usg=AOvVaw2NQd5ZeDlGLo1cpmCayckH"><img style="border:0;display:block;height:auto;width:100%;max-width:186px" alt="" width="186" src="https://ci3.googleusercontent.com/proxy/AREtYSmpwItlgQ6yz8yNC_b6uXZ7B0Eb785LBZck_zCE287LRV060gRBMVaqRqw2T94FOW-PG_SQsc5natCHj5FlCkursUTRSJVab7IYI1PsZDkg7vR8k1GuuEAjM25KafWEFw=s0-d-e1-ft#http://i2.cmail20.com/ei/t/A5/DE3/8DE/115020/csfinal/Primary-99079e0a2801453c.png" class="CToWUd" data-bit="iit"></a>
        </div>

            <div style="Margin-left:20px;Margin-right:20px;Margin-top:20px">
      <div style="line-height:27px;font-size:1px">&nbsp;</div>
    </div>

            <div style="Margin-left:20px;Margin-right:20px">
      <div style="vertical-align:middle">
        <p class="m_-7107547167905449307size-20" style="Margin-top:0;Margin-bottom:0;font-family:Bitter,Georgia,serif;font-size:17px;line-height:26px;text-align:center" lang="x-size-20"><span style="text-decoration:inherit"><u><span style="text-decoration:inherit;color:#002554">Listen, share and be he(a)rd</span></u></span></p>
      </div>
    </div>

          </div>

        </div>
      </div>

      <div class="m_-7107547167905449307layout m_-7107547167905449307one-col m_-7107547167905449307fixed-width m_-7107547167905449307stack" style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
        <div class="m_-7107547167905449307layout__inner" style="border-collapse:collapse;display:table;width:100%;background-color:#bbe2f7">

          <div class="m_-7107547167905449307column" style="text-align:left;color:#000;font-size:16px;line-height:24px;font-family:Raleway,Trebuchet MS,Avenir,Segoe UI,sans-serif">

        <div style="font-size:12px;font-style:normal;font-weight:normal;line-height:19px" align="center">
          <img style="border:0;display:block;height:auto;width:100%;max-width:900px" alt="" width="600" src="https://ci3.googleusercontent.com/proxy/JLv65R7memwI8hgiPqTNJSRaZNiDilb3zMQeHNyx4kof-6BVDdja3036be9qvrWV_2HDpBVY2J87MR80HdLJdT2RRwg8TsYdpHvwdFfiSsk_OXGaTlQfeu7_Q8GnsRBqeQ=s0-d-e1-ft#http://i3.cmail20.com/ei/t/A5/DE3/8DE/115020/csfinal/Lila-9900000000079e3c.png" class="CToWUd a6T" data-bit="iit" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 767px; top: 1025.59px;"><div id=":1cs" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc3OTUwODgzMTY5MzkxMTk1MyIsbnVsbCxbXSxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxbXSxbXSxbXV0." data-tooltip-class="a1V" jsaction="JIbuQc:.CLIENT"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
        </div>

          </div>

        </div>
      </div>

      <div class="m_-7107547167905449307layout m_-7107547167905449307one-col m_-7107547167905449307fixed-width m_-7107547167905449307stack" style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
        <div class="m_-7107547167905449307layout__inner" style="border-collapse:collapse;display:table;width:100%;background-color:#e9d0f0">

          <div class="m_-7107547167905449307column" style="text-align:left;color:#000;font-size:16px;line-height:24px;font-family:Raleway,Trebuchet MS,Avenir,Segoe UI,sans-serif">

        <div style="font-size:12px;font-style:normal;font-weight:normal;line-height:19px" align="center">
          <img style="border:0;display:block;height:auto;width:100%;max-width:211px" alt="" width="211" src="https://ci6.googleusercontent.com/proxy/4smeS0boSeVWGWTS8pGQpZ0EJJ7DwZdC4ZY3dmS_ExhIU1IPpPX1J7kOoPU9DdxcXg7hK0vJ-3WSpGaktD1ehf25ecWeKX6YI1xNACxJ763oRGUAlNw7Vj-giB4oox8qkauDimph_3-d=s0-d-e1-ft#http://i4.cmail20.com/ei/t/A5/DE3/8DE/115020/csfinal/Illustration-9901450145028a3c.png" class="CToWUd a6T" data-bit="iit" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 572.497px; top: 1192.24px;"><div id=":1ct" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc3OTUwODgzMTY5MzkxMTk1MyIsbnVsbCxbXSxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxbXSxbXSxbXV0." data-tooltip-class="a1V" jsaction="JIbuQc:.CLIENT"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
        </div>

            <div style="Margin-left:20px;Margin-right:20px;Margin-top:20px">
      <div style="vertical-align:middle">
        <p class="m_-7107547167905449307size-18" style="Margin-top:0;Margin-bottom:0;font-family:Bitter,Georgia,serif;font-size:17px;line-height:26px;text-align:center" lang="x-size-18"><span style="text-decoration:inherit"><u><span style="text-decoration:inherit;color:#002554">Find stories</span></u></span></p><p class="m_-7107547167905449307size-14" style="Margin-top:20px;Margin-bottom:20px;font-family:raleway,trebuchet ms,avenir,segoe ui,sans-serif;font-size:14px;line-height:21px;text-align:center" lang="x-size-14"><span style="text-decoration:inherit">You’re not alone. Hear stories from people you can relate to, which will help you gain self-confidence, build resilience and smash the stigma surrounding mental health.</span></p>
      </div>
    </div>

            <div style="Margin-left:20px;Margin-right:20px">
      <div style="line-height:20px;font-size:1px">&nbsp;</div>
    </div>

        <div style="font-size:12px;font-style:normal;font-weight:normal;line-height:19px" align="center">
          <img style="border:0;display:block;height:auto;width:100%;max-width:900px" alt="" width="600" src="https://ci5.googleusercontent.com/proxy/QtruPEcJm3DZWjHrrsigyAJgXx5OKX9VxpUBzR6lM7pSXAWsYX_NQ4prgqqIY5Sp3LoJ062Mx-ZZNHqk2E9YQK2fz00f5eWnOJdxJeoknoHYbFc3odUX0D8ULE2ZA-DcvQ=s0-d-e1-ft#http://i5.cmail20.com/ei/t/A5/DE3/8DE/115020/csfinal/Mint-9900000000079e3c.png" class="CToWUd a6T" data-bit="iit" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 767px; top: 1482.12px;"><div id=":1cu" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc3OTUwODgzMTY5MzkxMTk1MyIsbnVsbCxbXSxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxbXSxbXSxbXV0." data-tooltip-class="a1V" jsaction="JIbuQc:.CLIENT"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
        </div>

          </div>

        </div>
      </div>

      <div class="m_-7107547167905449307layout m_-7107547167905449307one-col m_-7107547167905449307fixed-width m_-7107547167905449307stack" style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
        <div class="m_-7107547167905449307layout__inner" style="border-collapse:collapse;display:table;width:100%;background-color:#bbf0e3">

          <div class="m_-7107547167905449307column" style="text-align:left;color:#000;font-size:16px;line-height:24px;font-family:Raleway,Trebuchet MS,Avenir,Segoe UI,sans-serif">

        <div style="font-size:12px;font-style:normal;font-weight:normal;line-height:19px" align="center">
          <img style="border:0;display:block;height:auto;width:100%;max-width:228px" alt="" width="228" src="https://ci3.googleusercontent.com/proxy/hw1Q99_k4WYzsELNuJRxGPfu4xZhUuarQDy6aKJ0nUtU_Gga-Xw_WzIpH8cQ-56Q3Rar6dh3umGOy3tV-HoY5xYRC1NiI11k2fK65d-xtrfHK84k9ChYtjRL5zvE9TNsN_9b2_N60vBII6Bw5Q=s0-d-e1-ft#http://i6.cmail20.com/ei/t/A5/DE3/8DE/115020/csfinal/Mintillustration-990a28028a028a3c.png" class="CToWUd a6T" data-bit="iit" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 581.007px; top: 1600.12px;"><div id=":1cv" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc3OTUwODgzMTY5MzkxMTk1MyIsbnVsbCxbXSxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxbXSxbXSxbXV0." data-tooltip-class="a1V" jsaction="JIbuQc:.CLIENT"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
        </div>

            <div style="Margin-left:20px;Margin-right:20px;Margin-top:20px">
      <div style="vertical-align:middle">
        <p class="m_-7107547167905449307size-18" style="Margin-top:0;Margin-bottom:0;font-family:Bitter,Georgia,serif;font-size:17px;line-height:26px;text-align:center" lang="x-size-18"><span style="text-decoration:inherit"><u><span style="text-decoration:inherit;color:#002554">Find your voice</span></u></span></p><p class="m_-7107547167905449307size-14" style="Margin-top:20px;Margin-bottom:20px;font-family:raleway,trebuchet ms,avenir,segoe ui,sans-serif;font-size:14px;line-height:21px;text-align:center" lang="x-size-14"><span style="text-decoration:inherit">Sometimes it’s hard to express yourself. We’ve created a safe environment for you to craft your story in a way that will help you and others just like you. Get creative with your story through video, words, image, art and audio!</span></p>
      </div>
    </div>

            <div style="Margin-left:20px;Margin-right:20px">
      <div style="line-height:20px;font-size:1px">&nbsp;</div>
    </div>

        <div style="font-size:12px;font-style:normal;font-weight:normal;line-height:19px" align="center">
          <img style="border:0;display:block;height:auto;width:100%;max-width:900px" alt="" width="600" src="https://ci3.googleusercontent.com/proxy/jgvGMpVCzFcEUBxwO8CMlfecboaUtirMTMrxeiURTL9PmWMaaTEV37ru2Vf3RZEMpIMmvmcVo2tHpYqJ60niDv0tfM8tq621jFxGCMw0ixoS6mSEhpqQogoGu9Rujx-mBw=s0-d-e1-ft#http://i7.cmail20.com/ei/t/A5/DE3/8DE/115020/csfinal/Pink-9900000000079e3c.png" class="CToWUd a6T" data-bit="iit" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 767px; top: 1922.06px;"><div id=":1cw" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc3OTUwODgzMTY5MzkxMTk1MyIsbnVsbCxbXSxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxbXSxbXSxbXV0." data-tooltip-class="a1V" jsaction="JIbuQc:.CLIENT"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
        </div>

          </div>

        </div>
      </div>

      <div class="m_-7107547167905449307layout m_-7107547167905449307one-col m_-7107547167905449307fixed-width m_-7107547167905449307stack" style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
        <div class="m_-7107547167905449307layout__inner" style="border-collapse:collapse;display:table;width:100%;background-color:#fccdd6">

          <div class="m_-7107547167905449307column" style="text-align:left;color:#000;font-size:16px;line-height:24px;font-family:Raleway,Trebuchet MS,Avenir,Segoe UI,sans-serif">

            <div style="Margin-left:20px;Margin-right:20px">
      <div style="vertical-align:middle">
        <p class="m_-7107547167905449307size-18" style="Margin-top:0;Margin-bottom:0;font-family:Bitter,Georgia,serif;font-size:17px;line-height:26px;text-align:center" lang="x-size-18"><span style="text-decoration:inherit"><u><span style="text-decoration:inherit;color:#002554">Find your herd</span></u></span></p><p class="m_-7107547167905449307size-14" style="Margin-top:20px;Margin-bottom:20px;font-family:raleway,trebuchet ms,avenir,segoe ui,sans-serif;font-size:14px;line-height:21px;text-align:center" lang="x-size-14"><span style="text-decoration:inherit">As a member of OurHerd, you’re joining a movement for mental health change. We’re listening to the experiences of young people to help each other navigate tough times and learn how to improve mental health support services.</span></p>
      </div>
    </div>

            <div style="Margin-left:20px;Margin-right:20px">
        <div style="font-size:12px;font-style:normal;font-weight:normal;line-height:19px;Margin-bottom:20px" align="center">
          <img style="border:0;display:block;height:auto;width:100%;max-width:341px" alt="" width="341" src="https://ci3.googleusercontent.com/proxy/HcW2CP3aOjNILVykRXFZ172rrZnxOiNcKEgG303a7jF_W2f3PntGfaBdFcxNo9vBWTX3Mkonz9F4aZkCyYBrsuQ8mZGxC-p4EBoT4d1yqPizjRwQhNamWiauy0jBXkcfnIu3oN5PiY-tIi78hw=s0-d-e1-ft#http://i8.cmail20.com/ei/t/A5/DE3/8DE/115020/csfinal/Pinkillustration-990145051403cf3c.png" class="CToWUd a6T" data-bit="iit" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 637.497px; top: 2304.68px;"><div id=":1cx" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc3OTUwODgzMTY5MzkxMTk1MyIsbnVsbCxbXSxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxbXSxbXSxbXV0." data-tooltip-class="a1V" jsaction="JIbuQc:.CLIENT"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
        </div>
      </div>

            <div style="Margin-left:20px;Margin-right:20px">
      <div style="line-height:20px;font-size:1px">&nbsp;</div>
    </div>

          </div>

        </div>
      </div>

      <div style="line-height:20px;font-size:20px">&nbsp;</div>

      <div class="m_-7107547167905449307layout m_-7107547167905449307two-col m_-7107547167905449307fixed-width m_-7107547167905449307stack" style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
        <div class="m_-7107547167905449307layout__inner" style="border-collapse:collapse;display:table;width:100%;background-color:#ffe6ab">

          <div class="m_-7107547167905449307column" style="text-align:left;color:#000;font-size:16px;line-height:24px;font-family:Raleway,Trebuchet MS,Avenir,Segoe UI,sans-serif;max-width:320px;min-width:300px;width:320px;width:calc(12300px - 2000%);Float:left">

            <div style="Margin-left:20px;Margin-right:20px">
      <div style="line-height:43px;font-size:1px">&nbsp;</div>
    </div>

            <div style="Margin-left:20px;Margin-right:20px">
      <div style="vertical-align:middle">
        <p class="m_-7107547167905449307size-18" style="Margin-top:0;Margin-bottom:0;font-family:Bitter,Georgia,serif;font-size:17px;line-height:26px;text-align:center" lang="x-size-18"><span style="text-decoration:inherit"><u><span style="text-decoration:inherit;color:#002554">We all have our ups and downs</span></u></span></p><p class="m_-7107547167905449307size-14" style="Margin-top:20px;Margin-bottom:20px;font-family:raleway,trebuchet ms,avenir,segoe ui,sans-serif;font-size:14px;line-height:21px;text-align:center" lang="x-size-14"><span style="text-decoration:inherit">If at any time you feel like you’re struggling or need help, please reach out to any of our service providers here or tap the lifesaver ring at the top right corner of the app or visit batyr's <a style="text-decoration:underline;color:#000" href="https://batyr.cmail20.com/t/n/t-i-vsuiht-l-y-r-r/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://batyr.cmail20.com/t/n/t-i-vsuiht-l-y-r-r/&amp;source=gmail&amp;ust=1697158664837000&amp;usg=AOvVaw0kEghwte_vF_X02pN6Vh3N"><u>Get Support.</u></a></span></p>
      </div>
    </div>

            <div style="Margin-left:20px;Margin-right:20px">
      <div style="line-height:1px;font-size:1px">&nbsp;</div>
    </div>

          </div>

          <div class="m_-7107547167905449307column" style="text-align:left;color:#000;font-size:16px;line-height:24px;font-family:Raleway,Trebuchet MS,Avenir,Segoe UI,sans-serif;max-width:320px;min-width:300px;width:320px;width:calc(12300px - 2000%);Float:left">

            <div style="Margin-left:20px;Margin-right:20px">
      <div style="line-height:26px;font-size:1px">&nbsp;</div>
    </div>

        <div style="font-size:12px;font-style:normal;font-weight:normal;line-height:19px" align="center">
          <img style="border:0;display:block;height:auto;width:100%;max-width:185px" alt="" width="185" src="https://ci4.googleusercontent.com/proxy/WgQ15bPBwU-uqNrMI7elxzJj-MG4HBAuEhccoh92Pyc0GiTckE2Zf_FzeeL4VkmIOQDvYYLDKkLWzrbVIDdMhWy81G6EG8FNFkrSg0mj1L0AYv_u9za4a1ngcxnRs1K9jA=s0-d-e1-ft#http://i9.cmail20.com/ei/t/A5/DE3/8DE/115020/csfinal/help-9904510a2801453c.png" class="CToWUd a6T" data-bit="iit" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 709.5px; top: 2560.23px;"><div id=":1cy" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc3OTUwODgzMTY5MzkxMTk1MyIsbnVsbCxbXSxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxbXSxbXSxbXV0." data-tooltip-class="a1V" jsaction="JIbuQc:.CLIENT"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
        </div>

          </div>

        </div>
      </div>

      <div class="m_-7107547167905449307layout m_-7107547167905449307one-col m_-7107547167905449307fixed-width m_-7107547167905449307stack" style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
        <div class="m_-7107547167905449307layout__inner" style="border-collapse:collapse;display:table;width:100%;background-color:#ffe6ab">

          <div class="m_-7107547167905449307column" style="text-align:left;color:#000;font-size:16px;line-height:24px;font-family:Raleway,Trebuchet MS,Avenir,Segoe UI,sans-serif">

            <div style="Margin-left:20px;Margin-right:20px">
      <div style="line-height:20px;font-size:1px">&nbsp;</div>
    </div>

        <div style="font-size:12px;font-style:normal;font-weight:normal;line-height:19px" align="center">
          <img style="border:0;display:block;height:auto;width:100%;max-width:519px" alt="" width="519" src="https://ci4.googleusercontent.com/proxy/BFufcDTX89G83PU9ZO0Fk44AFpI7n0cVofbJ_jga76xalyoDJkQu7-fnWfinsDDblpTrOIoDf6Y3HY7bFPCemPsTLfeEaVUQxJgVddZoQFOAQkwvXJM_whtkE067gXZcwNA=s0-d-e1-ft#http://i10.cmail20.com/ei/t/A5/DE3/8DE/115020/csfinal/Line-990b6d014504513c.png" class="CToWUd" data-bit="iit">
        </div>

            <div style="Margin-left:20px;Margin-right:20px;Margin-top:20px">
      <div style="line-height:13px;font-size:1px">&nbsp;</div>
    </div>

        <div style="font-size:12px;font-style:normal;font-weight:normal;line-height:19px" align="center">
          <a style="text-decoration:underline;color:#000" href="https://batyr.cmail20.com/t/n/t-i-vsuiht-l-j-r-r/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://batyr.cmail20.com/t/n/t-i-vsuiht-l-j-r-r/&amp;source=gmail&amp;ust=1697158664837000&amp;usg=AOvVaw3NDWYwcIPu9WQGfUSY472t"><img style="border:0;display:block;height:auto;width:100%;max-width:310px" alt="" width="310" src="https://ci3.googleusercontent.com/proxy/xMqimZ36Nk3-NkLU64gK3p2nO4IPXu_ikHNGMmsV63H17NrAu-h_ttAJr1JH6YjhxSehmq0ROA2H--MvpsuAcGB7k_xwu2OF060aqKPw3Fia6ns1VpyzqHShv3sHFADJItXb0g=s0-d-e1-ft#http://i1.cmail20.com/ei/t/A5/DE3/8DE/115020/csfinal/Group43-990000014503cf3c.png" class="CToWUd" data-bit="iit"></a>
        </div>

            <div style="Margin-left:20px;Margin-right:20px;Margin-top:20px">
      <div style="line-height:13px;font-size:1px">&nbsp;</div>
    </div>

            <div style="Margin-left:20px;Margin-right:20px">
      <div style="vertical-align:middle">
        <p class="m_-7107547167905449307size-14" style="Margin-top:0;Margin-bottom:20px;font-size:14px;line-height:21px;text-align:center" lang="x-size-14">If you have any questions, please email us at <a style="text-decoration:underline;color:#000" href="mailto:hello@ourherd.io" target="_blank">hello@ourherd.io</a>.</p>
      </div>
    </div>

            <div style="Margin-left:20px;Margin-right:20px">
      <div style="display:block;font-size:2px;line-height:2px;Margin-left:auto;Margin-right:auto;width:40px;background-color:#000;Margin-bottom:20px">&nbsp;</div>
    </div>

            <div style="Margin-left:20px;Margin-right:20px">
      <div>
        <div style="padding-top:8px;text-align:center"><span style="padding-right:4px"><a style="text-decoration:underline;color:#000;display:inline-block;border-radius:50%;width:32px;height:32px;max-height:32px;background-color:#003462" href="https://batyr.cmail20.com/t/n/t-i-vsuiht-l-t-r-r/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://batyr.cmail20.com/t/n/t-i-vsuiht-l-t-r-r/&amp;source=gmail&amp;ust=1697158664838000&amp;usg=AOvVaw1BWuBqwBFWrOE3GTYsb3w6"><img style="border:0" src="https://ci5.googleusercontent.com/proxy/NVAOfxwIQmJNIqx3c997U4apPTkvQZ3Hc8hcoJJYcZ0Nl5nkg7jlya2I5Y9IhouOwpdegTEkpPtoRNprULgfLC7TGnVUsTHu85_n4oHMCvmkj_bg620DKb_7mqoF56_2nohFGStGjx8lMVVRKGbp8PJAvmbHYcvxww=s0-d-e1-ft#http://i1.cmail20.com/static/eb/master/13-the-blueprint-3/images/socialmedia/facebook-white-medium.png" alt="Facebook" height="32" width="32" class="CToWUd" data-bit="iit"></a></span><span style="padding-right:4px"><a style="text-decoration:underline;color:#000;display:inline-block;border-radius:50%;width:32px;height:32px;max-height:32px;background-color:#003462" href="https://batyr.cmail20.com/t/n/t-i-vsuiht-l-i-r-r/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://batyr.cmail20.com/t/n/t-i-vsuiht-l-i-r-r/&amp;source=gmail&amp;ust=1697158664838000&amp;usg=AOvVaw2OD-84ucj6Bl_P6PaYFChq"><img style="border:0" src="https://ci3.googleusercontent.com/proxy/cDPXz2rwJ461DfnByruTt7C8InVTL4Zj7TXw9JadLhVqlxnKiR_09q9FPJ7PpNCOyphl9gBGkvujiV8i25ZkHW2TZv8S0IQ6b65WJIS3X1Z7oEnThbMDz-ySBWG5R6TgUkN2cVYie3NYPtQT-9r7GmY8DkVKCw4hNjRa=s0-d-e1-ft#http://i10.cmail20.com/static/eb/master/13-the-blueprint-3/images/socialmedia/instagram-white-medium.png" alt="Instagram" height="32" width="32" class="CToWUd" data-bit="iit"></a></span><span style="padding-right:4px"><a style="text-decoration:underline;color:#000;display:inline-block;border-radius:50%;width:32px;height:32px;max-height:32px;background-color:#003462" href="https://batyr.cmail20.com/t/n/t-i-vsuiht-l-d-r-r/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://batyr.cmail20.com/t/n/t-i-vsuiht-l-d-r-r/&amp;source=gmail&amp;ust=1697158664838000&amp;usg=AOvVaw3o8WWuOAdAeg-zkReqFF5O"><img style="border:0" src="https://ci4.googleusercontent.com/proxy/ucfZ1bdXY_z1COPlAmIyanw_cc_BLSFHLMdm5mH2CT602A7UnBeBcaUElSQqI66ughLe8VEgdqtQ4cen43DyX-OGXR9SZEsG7_racKj3Hs_b48KGK0SWX1IWbJ8rcVYZYFuQXVElCxidev5smeEgX9TD2ND8DAUf=s0-d-e1-ft#http://i5.cmail20.com/static/eb/master/13-the-blueprint-3/images/socialmedia/website-white-medium.png" alt="Website" height="32" width="32" class="CToWUd" data-bit="iit"></a></span></div>
      </div>
    </div>

            <div style="Margin-left:20px;Margin-right:20px">
      <div style="line-height:20px;font-size:1px">&nbsp;</div>
    </div>

          </div>

        </div>
      </div>

      <div style="line-height:20px;font-size:20px">&nbsp;</div>

      </div>
      <div role="contentinfo"><div style="line-height:0px;font-size:0px" id="m_-7107547167905449307footer-top-spacing">&nbsp;</div><div class="m_-7107547167905449307layout m_-7107547167905449307email-flexible-footer m_-7107547167905449307email-footer" style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word" id="m_-7107547167905449307footer-content">
      <div class="m_-7107547167905449307layout__inner m_-7107547167905449307center-aligned-footer" style="border-collapse:collapse;display:table;width:100%">


          <div class="m_-7107547167905449307column" style="text-align:center;font-size:12px;line-height:19px;color:#999;font-family:Raleway,Trebuchet MS,Avenir,Segoe UI,sans-serif;display:none" align="center">
      <div class="m_-7107547167905449307footer-logo" style="font-size:26px;line-height:32px;Margin-top:10px;Margin-bottom:20px;color:#7b663d;font-family:Roboto,Tahoma,sans-serif" align="center">
        <div align="center"></div>
      </div>
    </div>


          <div class="m_-7107547167905449307column" style="text-align:center;font-size:12px;line-height:19px;color:#999;font-family:Raleway,Trebuchet MS,Avenir,Segoe UI,sans-serif;display:none" align="center">

    </div>


          <table style="border-collapse:collapse;table-layout:fixed;width:100%" cellpadding="0" cellspacing="0"><tbody><tr><td><div class="m_-7107547167905449307column" style="text-align:center;font-size:12px;line-height:19px;color:#999;font-family:Raleway,Trebuchet MS,Avenir,Segoe UI,sans-serif;display:inline;width:100%" align="center">
      <div style="margin-left:0;margin-right:0;Margin-top:10px;Margin-bottom:10px">



        <div class="m_-7107547167905449307email-footer__additional-info" style="font-size:12px;line-height:19px;margin-bottom:15px">

        </div>

      </div>
    </div></td></tr></tbody></table>

      </div>
    </div><div style="line-height:40px;font-size:40px" id="m_-7107547167905449307footer-bottom-spacing">&nbsp;</div></div>

    </td></tr></tbody></table>
  <img style="display:block!important;height:1px!important;width:1px!important;border:0!important;margin:0!important;padding:0!important" src="https://ci5.googleusercontent.com/proxy/UGL5Xch2bj0UhvlZebwwCYGSGfUnNvZTvGg4RUuPdx_sSVCrWXUYI1i24iVnrHVx487DchKxP6QLxd4zyuS7A35ULYZS=s0-d-e1-ft#https://batyr.cmail20.com/t/n/t-o-vsuiht-l-r/o.gif" width="1" height="1" border="0" alt="" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:WzAsMl0."><div class="yj6qo"></div><div class="adL">
</div></div><div class="adL">


</div></div></div>
